// 
// Hytron - by Todd Lambert
// 

$primary: #ff0000;
$red: #ff0000;


html{font-size: 100%;}
body{margin: 0; padding:0;}

.outer .container{padding:2rem; margin:1rem 6%; border:1px solid #f0eded; /* box-shadow: 0px 1px 1px 1px #e2dfdf; */ border-radius: 10px; background:#fdfcfc;}

@media (max-width: 48rem) {  
  .outer .container{padding:2rem; margin:1rem 1rem; box-shadow: 0px 1px 1px 1px #9a9999; border-radius: 10px; background:#fdfcfc;}
}


// BASE TYPOGRAPHY
body{font-family: -system-ui, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Helvetica, Arial, sans-serif;
	font-size:1rem;
    font-weight: 400;
    line-height:1.35}
    


// ANIMATIONs
.moveLeft {
  position: relative;
  left:-100vw;
//   animation: move 3s ease ;
  animation: slideLeft 1s forwards;
}
.moveRight {
  position: relative;
  right:-100vw;
//   animation: move 3s ease ;
  animation: slideRight 1s forwards;
}


footer{background-color: #222; padding:1rem 2rem;  animation: fadeIn 3s;}

@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100vw);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100px);
  }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}
//  ANIMATIONS



    
/*
    body{
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23656469' fill-opacity='0.3'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");}


body{
background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2319181a' fill-opacity='0.16' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");}
*/






h1,h2,h3,h4,.h1,.h2,.h3,.h4, #menu{font-family: Francois One,lucida grande,lucida sans unicode,Tahoma,Sans-Serif; font-style: italic;}

#menu{font-size:1rem;}

p{line-height: 2rem}
// BASE TYPOGRAPHY


/* header */

.header {
  background-color: #222;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color:#fff;
}

.header li a:hover,
.header .menu-btn:hover {
  color:#ff0000;
}

.header .logo {
  display: block;
  float: left;
  padding: 0 2rem 0 1.5rem;
  text-decoration: none;
  background:none;
  max-width: 150px;
/*
  max-height: 55px;
  height:55px;
*/
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
//   max-height: 55px;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #fff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

[aria-current] {
  background-color: #666;
  padding: .5rem; }
  
 [aria-current].logolink {
  background-color: none;
  padding: inherit; }

/* 48em = 768px */

@media (min-width: 48rem) {
	.header {display: flex; justify-content: space-between;}
	.header ul{display: flex;}
   [aria-current].logolink {
   background:none;
  }
  .header li a {
	  display: block;
	  height: 100%;
    padding: 20px 30px;
  }
  .header .menu {
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  
}


// Theme switcher
.themeSlide {
  width: 80px;
  height: 16px;
  background: #333;
  position: relative;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2); }

.themeSlide:after {
  content: 'Light';
  color: #fe09f0;
  position: absolute;
  right: 8px;
  z-index: 0;
  font: 10px/16px Arial, sans-serif;
  font-weight: bold; }

.themeSlide:before {
  content: 'Dark';
  color: #fe09f0;
  position: absolute;
  left: 10px;
  z-index: 0;
  font: 10px/16px Arial, sans-serif;
  font-weight: bold; }

.themeSlide label {
  display: block;
  width: 34px;
  height: 10px;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
  background: #fcfff4;
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  transition: all 0.4s ease;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3); }

.themeSlide input[type=checkbox] {
  visibility: hidden; }

.themeSlide input[type=checkbox]:checked + label {
  left: 43px; }

body.dark, body.dark .outer .container {
  background-color: #333;
  color: #fff; 
  box-shadow: inherit;}


body.light {
  background-color: #ffffff;
  color: #222; }

body.dark a {
  color: #fe09f0; }

body.light a {
  color: #fe09f0; }

body.light .header li a, body.dark .header li a, body.light footer, body.light footer a, body.dark footer a, body.dark .outer a, body.light .outer a {
  color: #fff !important; }

body.light * {
  border-color: #f0eaea !important; }

body.dark * {
  border-color: #3a3636 !important; }
// Theme switcher

 body.light{
background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2319181a' fill-opacity='0.16' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");}

 body.dark{
background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2319181a' fill-opacity='0.16' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");}

// Header
.headroom {
  will-change: transform;
  transition: transform 200ms linear; 
}
.headroom--pinned {
  transform: translateY(0%);
  transition: opacity .25s ease-in-out;
  opacity: 0.9;
}
.headroom--unpinned {
  transform: translateY(-100%);
}
.headroom--unfixed .back-to-top, .headroom--pinned .back-to-top{display: none;}

.themer { position:absolute; z-index:1; top:64px; right:10px; font-size: 60%; vertical-align:center; background-color:#222; padding:.2rem .3rem; border-radius: 4px; color:#fff;/*  box-shadow: 0px 0px 1px 1px black; */}
.button-switcher{border:1px solid; animation: slideDown 1s forwards;}

.headroom--unpinned .themer{display: none;}

.headroom {display: flex; justify-content: space-between; align-items: center;/*  width:100%; */ /* background:linear-gradient(#343435 0%, #131212 100%); */ height:auto; box-shadow: 0px 0px 4px 1px black;}

.back-to-top{display: block; position:fixed; bottom:2rem; right:0; border:1px solid; transform: translateY(100vh); padding:.3rem .3rem 0 .3rem;
z-index: 99999999;
color: #fff !important;
font-size:240%;
font-weight: bold;
background-color:$primary;
border-radius: 8px 0 0 8px;
}
// Header
